-i https://pypi.org/simple
blinker==1.8.2; python_version >= '3.8'
cachelib==0.9.0; python_version >= '3.7'
certifi==2024.2.2; python_version >= '3.6'
charset-normalizer==3.3.2; python_full_version >= '3.7.0'
click==8.1.7; python_version >= '3.7'
flask==3.0.3; python_version >= '3.8'
flask-caching==2.3.0; python_version >= '3.8'
gevent==24.2.1; python_version >= '3.8'
greenlet==3.0.3; python_version < '3.11' and platform_python_implementation == 'CPython'
gunicorn==22.0.0; python_version >= '3.7'
idna==3.7; python_version >= '3.5'
itsdangerous==2.2.0; python_version >= '3.8'
jinja2==3.1.4; python_version >= '3.7'
markupsafe==2.1.5; python_version >= '3.7'
packaging==24.0; python_version >= '3.7'
requests==2.32.2; python_version >= '3.8'
setuptools==70.0.0; python_version >= '3.8'
urllib3==2.2.1; python_version >= '3.8'
werkzeug==3.0.3; python_version >= '3.8'
zope.event==5.0; python_version >= '3.7'
zope.interface==6.4.post2; python_version >= '3.7'
