<!DOCTYPE html>
<html data-theme="dracula">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="{{meta.url}}" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{meta.title}}" />
    <meta property="og:description" content="{{meta.description}}" />
    <meta property="og:image" content="{{meta.image}}" />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="{{meta.image}}" />
    <meta property="twitter:domain" content="prithaj.dev" />
    <meta property="twitter:url" content="{{meta.url}}" />
    <meta name="twitter:title" content="{{meta.title}}" />
    <meta name="twitter:description" content="{{meta.description}}" />
    <meta name="twitter:image" content="{{meta.image}}" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />
    <link href="static/output.css" rel="stylesheet" type="text/css" />
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-NZPGPH54"
        height="0"
        width="0"
        style="display: none; visibility: hidden"
      ></iframe
    ></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <style>
      body {
        font-family: "Silkscreen", sans-serif;
        font-weight: 300;
        font-style: normal;
        padding-left: 1em;
        padding-right: 1em;
      }
      h1,
      .silkscreen {
        font-family: "Press Start 2P", system-ui;
        font-weight: 400;
        font-style: normal;
      }

      .legend {
        fill: #f8f5f5;
        font-size: 50px;
      }

      .tooltip {
        fill: #ece7e7;
      }
      .axisLabel {
        font-size: 22px;
        fill: blanchedalmond;
      }
    </style>
    <!-- End Google Tag Manager -->
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-NZPGPH54"
        height="0"
        width="0"
        style="display: none; visibility: hidden"
      ></iframe
    ></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div class="navbar bg-base-100">
      <div class="navbar-start">
        <div class="dropdown">
          <div tabindex="0" role="button" class="btn btn-ghost btn-circle">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M4 6h16M4 12h16M4 18h7"
              />
            </svg>
          </div>
          <ul
            tabindex="0"
            class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52"
          >
            <li><a href="/portfolio">Portfolio</a></li>
          </ul>
        </div>
      </div>
      <div class="navbar-center">
        <a href="/" class="silkscreen btn btn-ghost text-xl">prithaj.dev</a>
      </div>
      <div class="navbar-end"></div>
    </div>
    <br />
    <br />
    <div>{% block content %}{% endblock %}</div>
    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-JE9X65K7B7"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-JE9X65K7B7");
    </script>
  </body>
</html>
