{% extends "index.html" %} {% block content %}

<div
  class="grid grid-rows-2 gap-2 sm:grid-rows-1 grid-flow-col sm:gap-9 sm:justify-center"
>
  <div class="card max-w-96 bg-base-100 shadow-xl">
    <figure>
      <img
        src="https://res.cloudinary.com/dzmp7xptn/image/upload/v1716822867/bash_resume_ptiael_ttn49m.gif"
        alt="Shoes"
      />
    </figure>
    <div class="card-body">
      <h2 class="card-title">Bash terminal resume</h2>
      <p>Interactive resume inspired by the UNIX/Linux command line</p>
      <div class="card-actions justify-end">
        <div class="badge badge-outline">
          <a href="https://github.com/prithajnath/prithajnath.github.io"
            >GITHUB</a
          >
        </div>
        <div class="badge badge-primary">
          <a href="https://bash.prithaj.dev">LIVE</a>
        </div>
      </div>
    </div>
  </div>

  <div class="card max-w-96 bg-base-100 shadow-xl">
    <figure>
      <img
        src="https://res.cloudinary.com/dzmp7xptn/image/upload/v1716823702/create_groups_wswxn5_rsmylq.gif"
        alt="Shoes"
      />
    </figure>
    <div class="card-body">
      <h2 class="card-title">My Secret Santa</h2>
      <p>
        Highly randomized Secret Santa generator. Create secret santa groups for
        your friends, family and coworkers! You can also anonymously message
        them!
      </p>
      <div class="card-actions justify-end">
        <div class="badge badge-outline">
          <a href="https://github.com/prithajnath/my-secret-santa">GITHUB</a>
        </div>
        <div class="badge badge-primary">
          <a href="https://app.mysecretsanta.io/">LIVE</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
